.tile-component {
    margin: 1px;
    color: white;
    cursor: pointer;
	font: bold 36px Arial;
	text-align: center;
	text-shadow: -1px -1px 0 rgba(0,0,0, 0.5);
    display: inline-block;
    position: relative;
}