.config-form-component {
    max-width: 200px;

    /* item */
    flex: 1 1 auto;

    /* container */
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.generate-puzzle-button {
    padding: 5px;
    color: white;
    background-color: blue;
    cursor: pointer;
	font: 18px Arial;
	text-align: center;
	text-shadow: -1px -1px 0 rgba(0,0,0, 0.5);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: 0.15s box-shadow ease-in-out;
}

.generate-puzzle-button:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.generate-puzzle-button:active {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}