html, body, div {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	vertical-align: baseline;
}

body {
	line-height: 1;
	background-color: #eeeeee;
}